@import 'bootstrap/dist/css/bootstrap';

.navbar {

  background-color: black !important;

  
}

.nav-link {
  color: white !important;
}

.jumbotron {
  background-image: asset-url("maarten-deckers-T5nXYXCf50I-unsplash.jpg");
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;

}